section{
    background-color:lightblue;
    padding: 15px;
}

section div:first-child{
    border-bottom: 1px dashed black;
    margin-bottom: 5px;
}

section div :last-child{
    font-weight: bolder;
}