header{
    background-color: bisque;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}
header>div img{
    width: 50px;

}
h2{
    color: cornflowerblue;
}
h3{
    color: orangered;
}