<section class="container p-5">
    <h3>{{isNow? "Add ":"Edit "}} Contact</h3>

    <form class="form" #f="ngForm">
        <div>
            <label>ContactId</label>
            <input type="number" name="cid" [(ngModel)]="contact.ContactId" class="form-control"
            [readonly]="!isNew" required="required" min="100" #cid="ngModel"/>
            <div *ngIf="(cid.touched|| cid.dirty)&& cid.invalid">
                <p *ngIf="cid.errors.required">Can not be left blank</p>
                <p *ngIf="cid.errord.min">Can not be less than 100</p>
            </div>
        </div>
        <div>
            <label>First Name</label>
            <input type="text" name="fnm" [(ngModel)]="contact.firstName" class="form-control"
            required #fnm="ngModel" minlength="5"/>
            <div *ngIf="(fnm.touched||fnm.dirty)&& fnm.invalid">
                <p *ngIf="fnm.errors.required">Can not be left blank</p>
                <p *ngIf="fnm.errors.minlength">Can not be less than 5 Chars</p>
            </div> 
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lnm" [(ngModel)]="contact.lastName" class="form-control"
            required #lnm="ngModel" minlength="5"/>
            <div *ngIf="(lnm.touched||lnm.dirty)&& lnm.invalid">
                <p *ngIf="lnm.errors.required">Can not be left blank</p>
                <p *ngIf="lnm.errors.minlength">Can not be less than 5 Chars</p>
            </div> 
        </div>
        <div>
            <label>Mobile Number</label>
            <input type="text" name="mob" [(ngModel)]="contact.mobileNumber" class="form-control"
            required #mob="ngModel" minlength="10" maxlength="10"/>
            <div *ngIf="(mob.touched||mob.dirty)&& mob.invalid">
                <p *ngIf="mob.errors.required">Can not be left blank</p>
                <p *ngIf="mob.errors.minlength">Can not be less than 10 and more than 10 digits</p>
            </div> 
        </div>
        <div>
            <label>Alternate Mobile Number</label>
            <input type="text" name="mob" [(ngModel)]="contact.alternateMobileNumber" class="form-control"
            required #mob="ngModel" minlength="10" maxlength="10"/>
            <div *ngIf="(mob.touched||mob.dirty)&& mob.invalid">
                <p *ngIf="mob.errors.required">Can not be left blank</p>
                <p *ngIf="mob.errors.minlength">Can not be less than 10 and more than 10 digits</p>
            </div> 
        </div>
        <div>
            <label>Mail Id</label>
            <input type="email" name="em" [(ngModel)]="contact.mailId" class="form-control"
            required #em="ngModel" />
            <div *ngIf="(em.touched||em.dirty)&& em.invalid">
                <p *ngIf="em.errors.required">Can not be left blank</p>
                <p *ngIf="em.errors.minlength">Can contain @gmail.com</p>
            </div> 
        </div>
        <div>
            <label>Organization</label>
            <input type="text" name="org" [(ngModel)]="contact.organization" class="form-control"
            required #org="ngModel" minlength="6"/>
            <div *ngIf="(org.touched||org.dirty)&& org.invalid">
                <p *ngIf="org.errors.required">Can not be left blank</p>
                <p *ngIf="org.errors.minlength">Can not be less than 5 Chars</p>
            </div> 
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" name="dob" [(ngModel)]="dobStr" (change)="dobUpdate" class="form-control">
        </div>
        <div class="text-right">
            <button type="button" name="btnSave" class="btn btn-primary"
            [disabled]="f.invalid" (click)="save()">ADD</button>
        </div>
       
    </form>

</section>
